html, body {
    margin-left:0px;
    margin-right: 0px;
    font-family: "myFirstFont";
}

.topbar {
    
    font-size: 30px;
    height: 45px;
    width: 100%;
    margin: auto;
    
}


.parallax1 {
  /* The image used */
  background-image: url("IMG_8805.jpg");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("IMG_8800.jpg");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("IMG_8808.jpg");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: myFirstFont;
  src: url("gill.TTF")
}

