html, body {
    margin-left:0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.images {
    background-image: url('IMG_8806.jpg');
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#div2, #div3, #div4, #div5, #div6 {
    
    width:600px;
    height:90px;
    display:none;
    margin: auto;
    text-align: center;
    font-size: 65px;
    line-height: 100px;
    color: white;
    padding-top: 10px;
    margin-bottom: 25px;
    font-family: "myFirstFont";
}

@font-face {
  font-family: myFirstFont;
  src: url("gill.TTF")
}

